[mysqld]
# On définit le répertoire ou seront stockées les données sur le cluster
datadir=/var/cluster/mysql
# On définit l'adresse IP utilisée par le serveur MySQL
bind-address=10.192.10.50
# Chemin du fichier de socket pour les connexions locales
socket=/var/lib/mysql/mysql.sock
user=mysql
# O désactive les liens symboliques pour améliorer la sécurité du serveur
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
