[mysqld]
# On definit le repertoire ou seront stockees les donnees sur le cluster
datadir=/var/cluster/mysql
# On definit l'adresse IP utilisee par le serveur MySQL
bind-address=10.192.10.50
# Chemin du fichier de socket pour les connexions locales
socket=/var/lib/mysql/mysql.sock
user=mysql
# On desactive les liens symboliques pour ameliorer la securite du serveur
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid